@media screen and (max-width:480px) {

    .xs-100 {
        width: 100%;
    }


.container
{
    padding: 100px 3%;
}

.navbar .container {
    padding: 25px 4%;
    position: relative;
}

.navbar .links ul
{
    padding: 10px;
    display: flex;
    flex-direction: column;

    width: 340px;
    height: 100vh;
    position: absolute;
    right: -340px;
    top: 0;
    transition: all .5s;
}
.navbar .links ul label
{
    display: flex;
    justify-content: flex-end;
}
.navbar .links ul .fa-xmark
{
    display: inline;
}

.navbar:has(#bar-click:checked) .links ul
{
    right: 0;
}


.home .container
{
    flex-direction: column;
    gap: 50px;
    padding: 100px 3% 50px;
}
.home .inner-content
{
    text-align: center;
}



.home .inner-content .buttns
{
    flex-direction: column;
}
.home .buttns .btn1
{
    border-radius: 25px;
}

.chefs .inner
{
    flex-direction: column;
}

.galery-photos
{
    flex-wrap: nowrap;
    height: auto;
}


.contact .inner .info
{
    width: 100%;
}

.contact form input:not(:nth-child(3)) 
{
    width: 100%;
}


.footer .container
{
    flex-direction: column;
    padding: 40px 4% 20px;
}

.footer .section2 form
{
    flex-direction: column;
    gap: 10px;
}
.section2 form input
{
    width: 100%;
}
.section2 form button
{
    width: 100%;
    padding: 10px;
}
}

@media screen and (min-width:481px) {

    .sm-100 {
        width: 100%;
    }

    
.container
{
    padding: 100px 3%;
}

.navbar .container {
    padding: 25px 4%;
}


.navbar .links ul {
    padding: 10px;
    display: flex;
    flex-direction: column;

    width: 340px;
    height: 100vh;
    position: absolute;
    right: -340px;
    top: 0;
    transition: all .5s;
}

.navbar .links ul label {
    display: flex;
    justify-content: flex-end;
}

.navbar .links ul .fa-xmark {
    display: inline;
}

.navbar:has(#bar-click:checked) .links ul {
    right: 0;
}


.home .container
{
    flex-direction: column;
    gap: 50px;
    padding: 100px 3% 50px;
}
.home .inner-content
{
    text-align: center;
}



.home .inner-content .buttns
{
    flex-direction: column;
}
.home .buttns .btn1
{
    border-radius: 25px;
}

.chefs .inner
{
    flex-direction: column;
}

.galery-photos
{
    flex-wrap: nowrap;
    height: auto;
}


.contact .inner .info
{
    width: 100%;
}

.contact form input:not(:nth-child(3)) 
{
    width: 100%;
}


.footer .container
{
    flex-direction: column;
    padding: 40px 4% 20px;
}

.footer .section2 form
{
    flex-direction: column;
    gap: 10px;
}
.section2 form input
{
    width: 100%;
}
.section2 form button
{
    width: 100%;
    padding: 10px;
}
}

@media screen and (min-width:768px) 
{

    .mid-48 {
        width: 48%;
    }

    .mid-90 {
        width: 90%;
    }

.container {
    padding: 100px 7%;
}

.navbar .container {
    padding: 25px 7%;
}

.home .txt h2
{
    margin: auto;
    width: 50%;
}

.home .inner-content .buttns {
    flex-direction: row;
    justify-content: center;
}



.chefs .inner {
    flex-direction: row;
    flex-wrap: wrap;
}
.chefs .chef-box
{
    width: calc(50% - 15px);
}

.galery-photos {
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 1800px;
}

.galery-photos .photo:nth-child(2)
{
    order: 2;
}
.galery-photos .photo:nth-child(3)
{
    order: 4;
}
.galery-photos .photo:nth-child(4)
{
    order: 3;
}
.galery-photos .photo:nth-child(5)
{
    order: 1;
}
.galery-photos .photo:nth-child(6)
{
    order: 4;
}
.galery-photos .photo:nth-child(7)
{
    order: 4;
}


.contact .inner .info {
    width: calc(50% - 7.5px);
}



.footer .container 
{
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

.footer .section1
{
    width: calc(50% - 10px);
}
.footer .section3
{
    width: calc(50% - 10px);
}
.footer .section2
{
    order: 1;
}

.footer .section2 form {
    flex-direction: row;
}

.section2 form input {
    width: 82%;
}

.section2 form button {
    width: fit-content;
}

}

@media screen and (min-width:885px) {

.galery-photos {
    max-height: 2050px;
}


}

@media screen and (min-width:1280px) {

    .l-25 {
        width: 25%;
    }

    .l-40 {
        width: 40%;
    }

    .l-50 {
        width: 50%;
    }

.navbar .links ul {
    padding: 10px;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    width: fit-content;
    height: auto;
    position:static;

}

.navbar .links ul label {
    display: none;
}


.navbar .container {
    padding: 15px 7%;
}

.navbar .links ul {
    display: flex;
}
.navbar .mood .bar-icon 
{
    display: none;
}

.home .container {
    flex-direction: row-reverse;
    padding: 50px 7%;
}

.home .txt h2 {
    width: 100%;
}


.home .inner-content 
{
    text-align: start;
}
.home .inner-content .buttns {
    justify-content: flex-start;
}

.home .buttns .btn1 {
    border-radius: 0 20px 20px 20px;
}

.chefs .inner {
    flex-wrap: nowrap;
}

.chefs .chef-box {
    width: calc(33.3% - 15px);
}

.galery-photos {
    max-height: 1180px;
}

.galery-photos .photo {
    width: calc(33.3% - 10px);
}

.galery-photos .photo:nth-child(2) {
    order: 0;
}

.galery-photos .photo:nth-child(3) {
    order: 0;
}

.galery-photos .photo:nth-child(4) {
    order: 0;
}

.galery-photos .photo:nth-child(5) {
    order: 0;
}

.galery-photos .photo:nth-child(6) {
    order: 0;
}

.galery-photos .photo:nth-child(7) {
    order: 0;
}




.contact form input:not(:nth-child(3)) {
    width: calc(50% - 7.5px);
}


.footer .container {
    flex-wrap: nowrap;
}

.footer .section1 {
    width: 25% ;
}

.footer .section3 {
    width: 25%;
}

.footer .section2 {
    order: 0;
}

.footer .section2 form {
    gap: 10px;
}

.section2 form input {
    width: 83%;
}

.section2 form button {
    width: 17%;
    padding: 0;
}

}
